<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>YOLO Object Detection</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

<h1>YOLOv8 Object Detection</h1>

<form
action="/detect"
method="POST"
enctype="multipart/form-data">

<input
type="file"
name="image"
required>

<br><br>

<button type="submit">
Detect Objects
</button>

</form>

{% if error %}
<p>{{ error }}</p>
{% endif %}

{% if result_image %}

<h2>Detection Result</h2>

<img
src="{{ url_for('static', filename='results/' + result_image) }}">

{% endif %}

</div>

</body>

</html>