body{

background:#f2f2f2;

font-family:Arial;

text-align:center;

padding:30px;

}

img{

margin-top:20px;

border-radius:10px;

box-shadow:0 0 15px gray;

}

button{

padding:12px;

font-size:18px;

cursor:pointer;

}