*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;

    background:linear-gradient(
        -45deg,
        #0f2027,
        #203a43,
        #2c5364,
        #4facfe,
        #00f2fe
    );

    background-size:400% 400%;

    animation:bgAnimation 15s ease infinite;
}

/* Animated Background */

@keyframes bgAnimation{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}

/* Floating Circles */

body::before{

content:"";

position:absolute;

width:350px;
height:350px;

background:#00f2fe;

border-radius:50%;

top:-100px;
left:-100px;

filter:blur(120px);

animation:float1 8s ease-in-out infinite;

}

body::after{

content:"";

position:absolute;

width:400px;
height:400px;

background:#ff4ecd;

border-radius:50%;

bottom:-120px;
right:-120px;

filter:blur(140px);

animation:float2 10s ease-in-out infinite;

}

@keyframes float1{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(40px);
}

100%{
transform:translateY(0px);
}

}

@keyframes float2{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-40px);
}

100%{
transform:translateY(0px);
}

}

/* Glass Container */

.container{

width:700px;

padding:40px;

border-radius:25px;

background:rgba(255,255,255,0.12);

backdrop-filter:blur(20px);

-webkit-backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.3);

box-shadow:0 8px 32px rgba(0,0,0,.3);

text-align:center;

color:white;

z-index:10;

}

/* Heading */

h1{

font-size:42px;

margin-bottom:15px;

}

p{

margin-bottom:25px;

font-size:18px;

}

/* File Input */

input[type=file]{

margin:20px;

color:white;

}

/* Button */

button{

padding:14px 35px;

font-size:18px;

border:none;

border-radius:12px;

cursor:pointer;

background:#00d4ff;

color:white;

transition:.3s;

margin-top:15px;

}

button:hover{

transform:scale(1.05);

background:#0099ff;

}

/* Result Image */

img{

margin-top:25px;

width:100%;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.4);

animation:fadeIn .8s;

}

@keyframes fadeIn{

from{

opacity:0;
transform:scale(.8);

}

to{

opacity:1;
transform:scale(1);

}

}